{% extends "admin_layout.html" %}
{% block title %}Redis List{% endblock %}
{% block head %}
        <!--<link rel="stylesheet" href="{{ url_for('admin.static', filename='redis/reset.css') }}" type="text/css" media="screen, projection" />-->
        <link rel="stylesheet" href="{{ url_for('admin.static', filename='redis/style.css') }}" type="text/css" media="screen, projection" />
        <script type="text/javascript" src="{{ url_for('admin.static', filename='redis/jquery.min.js') }}"></script>
{% endblock %}
{% block body %}
<div id="redis">
            <div class="stat">
            <h1> {{ stat.server_name }} {% if stat.role %} ({{ stat.role }}) {% endif %} - keys: {{ stat['keys'] }}</h1>
                <div class="info_line">
                    <span class="info" style="width:50px !important">
                        system status
                    </span> <br />
                    <span class="{{ stat.status }}" id="{{ stat.addr }}_status">
                   {{ stat.status }}
                    </span>
                </div>
                {% if stat.status == 'up' %}
                    <h2> keys </h2>
                    <div id="detail">
                        {% for key in keys %}
                        <div class="detail_line">{{ key }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
{% endblock %}